<section class="search-form">
    <form>
        <div class="input-group input-group-lg">
            <label for="keywords" class="sr-only">Keywords</label>
            <input type="text"
                   name="keywords"
                   class="form-control input-lg"
                   placeholder="Find argumentation"
                   ng-change="search(keywords)"
                   ng-model="keywords">
        </div>
    </form>
</section>


<div class="animate-if waiting" ng-if="loading == true">

    <!-- loading animation will go here -->

    <div class="col-md-10 col-md-offset-1">
        <aside class="progress">
            <div class="progress-bar progress-bar-striped active"
                 style="width: 100%">
                Loading…
            </div>
        </aside>
    </div>
    <br>
</div>

<section class="search-results" ng-if="loading == false">
    <header>
        <h1 class="h3">Results</h1>
    </header>
    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="" ng-click="previousPage()">&larr; Previous</a>
            </li>
            <li class="next">
                <a href="" ng-click="nextPage()">Next &rarr;</a>
            </li>
        </ul>
    </nav>

    <div class="panel panel-default" ng-repeat="argumentation in argumentations">
        <div class="panel-heading">{{ argumentation.title}}</div>
        <div class="panel-body">

            <div class="panel">
                    <div ng-repeat="info in argumentation.infomain">
                            <ul>
                                <li ng-repeat="bits in info.bits">
                                    {{bits}}
                                </li>
                            </ul>
                    </div>
            </div>

            In the arguments:<br>
            <div class="panel">
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="info in argumentation.info">
                        <div class="panel-heading">{{info.title}}</div>
                        <div class="panel-body bg-lightergray">
                        <ul>
                            <li ng-repeat="bits in info.bits">
                                {{bits}}
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-small btn-primary pull-right"
                    ng-click="viewArgumentation(argumentation)">
                View Argumentation
            </button>
        </div>

    </div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="" ng-click="previousPage()">&larr; Previous</a>
            </li>
            <li class="next">
                <a href="" ng-click="nextPage()">Next &rarr;</a>
            </li>
        </ul>
    </nav>
</section>