
    <div class="animate-if waiting" ng-if="!argumentation.$resolved || loading">

        <!-- loading animation will go here -->

        <div class="col-md-10 col-md-offset-1">
            <aside class="progress">
                <div class="progress-bar progress-bar-striped active"
                     style="width: 100%">
                    Loading…
                </div>
            </aside>
        </div>
        <br>
    </div>


    <div class="box move" ng-class="{'box': boxClass == 1, 'to-right': boxClass == 2, 'back-to-left': boxClass == 3, 'to-left': boxClass == 4, 'back-to-right': boxClass == 5} ">

    <div ng-if="argumentation.$resolved">

        <nav>
            <ul class="pager">
                <li class="previous">
                    <a href=""  ng-click="nexta(2)">&larr; Zurück zu </a>
                </li>
            </ul>
        </nav>

        <h1 class="display-3">{{ argumentation.argumentation.title }}</h1>
        <p class="lead text-justify">{{ argumentation.argumentation.description }}</p>
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">Arguments</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <div ng-repeat="argument in argumentation.arguments">
                                {{ argument.title }}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-9">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">Placeholder for Argument</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <div ng-repeat="argument in argumentation.arguments">
                                Williamsburg man bun jianbing fanny pack. Banh mi kinfolk aesthetic, farm-to-table venmo 8-bit beard woke pitchfork. Vexillologist microdosing kogi 3 wolf moon, cronut vice street art edison bulb chartreuse single-origin coffee scenester shoreditch bushwick pinterest. Taxidermy coloring book offal before they sold out marfa lyft. Lomo gastropub DIY offal banjo poke coloring book single-origin coffee. Mixtape vice asymmetrical, jianbing farm-to-table meh keytar fashion axe normcore. Skateboard raclette biodiesel vexillologist blue bottle etsy cred post-ironic leggings, tattooed pork belly.

                                Snackwave scenester shoreditch, prism blue bottle typewriter brooklyn yr banjo kombucha. Pok pok green juice succulents pork belly pabst. Actually vinyl tattooed, yuccie irony bitters beard kale chips 8-bit ugh lyft mlkshk. Air plant vape fashion axe master cleanse pinterest. Bushwick schlitz bespoke stumptown, aesthetic next level copper mug tousled ugh godard disrupt everyday carry coloring book. Leggings farm-to-table drinking vinegar kinfolk fanny pack. Drinking vinegar edison bulb green juice, cold-pressed whatever before they sold out locavore 3 wolf moon helvetica.

                                Fashion axe small batch la croix, green juice pour-over brunch craft beer knausgaard. Wolf swag microdosing tattooed tofu, schlitz PBR&B. Coloring book knausgaard organic swag, microdosing hell of williamsburg salvia freegan. Vexillologist trust fund salvia four dollar toast. Tattooed banh mi trust fund stumptown, pug try-hard meggings iceland vegan. Swag kogi tofu raw denim single-origin coffee. Mixtape flannel cray kombucha wayfarers literally photo booth.

                                Paleo blog lumbersexual, franzen cred scenester kitsch roof party bitters XOXO polaroid pork belly chartreuse. Gochujang selvage humblebrag bitters ethical, celiac skateboard chicharrones. Semiotics knausgaard twee jianbing literally, sartorial trust fund shoreditch man bun pabst activated charcoal. Edison bulb pitchfork green juice shabby chic. Kinfolk edison bulb VHS semiotics, direct trade chambray pickled. Banh mi snackwave poutine enamel pin, forage put a bird on it squid. Cray cardigan drinking vinegar, raw denim heirloom celiac fanny pack meggings tbh gochujang locavore vape stumptown ugh.
                                Williamsburg man bun jianbing fanny pack. Banh mi kinfolk aesthetic, farm-to-table venmo 8-bit beard woke pitchfork. Vexillologist microdosing kogi 3 wolf moon, cronut vice street art edison bulb chartreuse single-origin coffee scenester shoreditch bushwick pinterest. Taxidermy coloring book offal before they sold out marfa lyft. Lomo gastropub DIY offal banjo poke coloring book single-origin coffee. Mixtape vice asymmetrical, jianbing farm-to-table meh keytar fashion axe normcore. Skateboard raclette biodiesel vexillologist blue bottle etsy cred post-ironic leggings, tattooed pork belly.

                                Snackwave scenester shoreditch, prism blue bottle typewriter brooklyn yr banjo kombucha. Pok pok green juice succulents pork belly pabst. Actually vinyl tattooed, yuccie irony bitters beard kale chips 8-bit ugh lyft mlkshk. Air plant vape fashion axe master cleanse pinterest. Bushwick schlitz bespoke stumptown, aesthetic next level copper mug tousled ugh godard disrupt everyday carry coloring book. Leggings farm-to-table drinking vinegar kinfolk fanny pack. Drinking vinegar edison bulb green juice, cold-pressed whatever before they sold out locavore 3 wolf moon helvetica.

                                Fashion axe small batch la croix, green juice pour-over brunch craft beer knausgaard. Wolf swag microdosing tattooed tofu, schlitz PBR&B. Coloring book knausgaard organic swag, microdosing hell of williamsburg salvia freegan. Vexillologist trust fund salvia four dollar toast. Tattooed banh mi trust fund stumptown, pug try-hard meggings iceland vegan. Swag kogi tofu raw denim single-origin coffee. Mixtape flannel cray kombucha wayfarers literally photo booth.

                                Paleo blog lumbersexual, franzen cred scenester kitsch roof party bitters XOXO polaroid pork belly chartreuse. Gochujang selvage humblebrag bitters ethical, celiac skateboard chicharrones. Semiotics knausgaard t
                                Williamsburg man bun jianbing fanny pack. Banh mi kinfolk aesthetic, farm-to-table venmo 8-bit beard woke pitchfork. Vexillologist microdosing kogi 3 wolf moon, cronut vice street art edison bulb chartreuse single-origin coffee scenester shoreditch bushwick pinterest. Taxidermy coloring book offal before they sold out marfa lyft. Lomo gastropub DIY offal banjo poke coloring book single-origin coffee. Mixtape vice asymmetrical, jianbing farm-to-table meh keytar fashion axe normcore. Skateboard raclette biodiesel vexillologist blue bottle etsy cred post-ironic leggings, tattooed pork belly.

                                Snackwave scenester shoreditch, prism blue bottle typewriter brooklyn yr banjo kombucha. Pok pok green juice succulents pork belly pabst. Actually vinyl tattooed, yuccie irony bitters beard kale chips 8-bit ugh lyft mlkshk. Air plant vape fashion axe master cleanse pinterest. Bushwick schlitz bespoke stumptown, aesthetic next level copper mug tousled ugh godard disrupt everyday carry coloring book. Leggings farm-to-table drinking vinegar kinfolk fanny pack. Drinking vinegar edison bulb green juice, cold-pressed whatever before they sold out locavore 3 wolf moon helvetica.

                                Fashion axe small batch la croix, green juice pour-over brunch craft beer knausgaard. Wolf swag microdosing tattooed tofu, schlitz PBR&B. Coloring book knausgaard organic swag, microdosing hell of williamsburg salvia freegan. Vexillologist trust fund salvia four dollar toast. Tattooed banh mi trust fund stumptown, pug try-hard meggings iceland vegan. Swag kogi tofu raw denim single-origin coffee. Mixtape flannel cray kombucha wayfarers literally photo booth.

                                Paleo blog lumbersexual, franzen cred scenester kitsch roof party bitters XOXO polaroid pork belly chartreuse. Gochujang selvage humblebrag bitters ethical, celiac skateboard chicharrones. Semiotics knausgaard t
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <button class="btn btn-small btn-primary"
                    ng-click="nexta(4)">
                Check next user
            </button>

        </div>


        <hr class="my-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <br>

    </div>
