
    <div class="animate-if waiting" ng-if="!argumentation.$resolved || loading">

        <!-- loading animation will go here -->

        <div class="col-md-10 col-md-offset-1">
            <aside class="progress">
                <div class="progress-bar progress-bar-striped active"
                     style="width: 100%">
                    Loading…
                </div>
            </aside>
        </div>
        <br>
    </div>


    <div class="box move" ng-class="{'box': boxClass == 1, 'to-right': boxClass == 2, 'back-to-left': boxClass == 3, 'to-left': boxClass == 4, 'back-to-right': boxClass == 5} ">

    <div ng-if="argumentation.$resolved">

        <nav>
            <ul class="pager">
                <li class="previous">
                    <a href=""  ng-click="nextargumentation(2, main_argumentation_id)">&larr; Zurück zu </a>
                </li>
            </ul>
        </nav>

        <h1 class="display-3">{{ argumentation.title }}</h1>
        <p class="lead text-justify">{{ argumentation.description }}</p>
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">Arguments</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <div ng-repeat="argument in argumentation.arguments">
                                {{ argument.title }}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-9">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">Placeholder for Argument</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <div ng-repeat="argument in argumentation.arguments">
                                {{ argument.description }}

                                <br>
                                <button class="btn btn-small btn-primary"
                                        ng-click="nextargumentation(4, argument.argumentation.id )"
                                ng-if="argument.argumentation">
                                    To the full argument
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <hr class="my-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <br>

    </div>
