
    <div ng-if="!argumentation.$resolved">

        <!-- loading animation will go here -->

        <div class="col-md-10 col-md-offset-1">
            <aside class="progress">
                <div class="progress-bar progress-bar-striped active"
                     style="width: 100%">
                    Loading…
                </div>
            </aside>
        </div>
    </div>

    <div class="box rotate" ng-class="{'box': boxClass, 'circle': !boxClass} ">

    <div ng-if="argumentation.$resolved">

        <h1 class="display-3">{{ argumentation.argumentation.title }}</h1>
        <p class="lead">Epicness reloaded</p>
        <div class="container-fluid">

            <div class="row">


                <div class="col-md-3 col-xs-12">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">{{ argumentation.argumentation.title }}</h3>
                        </div>
                        <div class="panel-body text-justify">
                            {{ argumentation.argumentation.description }}
                        </div>
                    </div>

                </div>

                <div class="col-md-3 col-xs-3">


                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">Arguments</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <div ng-repeat="argument in argumentation.arguments">
                                {{ argument.title }}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-xs-9">
                    Placeholder for argument

                </div>
            </div>

            <button class="btn btn-small btn-primary"
                    ng-click="nexta()">
                Check next user
            </button>

        </div>


        <hr class="my-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <br>



    </div>

<input type="checkbox" ng-model="boxClass" />

