
<div class="animate-if waiting" ng-if="!argumentation.$resolved || loading">

    <!-- loading animation will go here -->

    <div class="col-md-10 col-md-offset-1">
        <aside class="progress">
            <div class="progress-bar progress-bar-striped active"
                 style="width: 100%">
                Loading…
            </div>
        </aside>
    </div>
    <br>
</div>


<div class="box move" ng-class="{'box': boxClass == 1, 'to-right': boxClass == 2, 'back-to-left': boxClass == 3, 'to-left': boxClass == 4, 'back-to-right': boxClass == 5} ">

    <div ng-if="argumentation.$resolved">

        <nav>
            <ul class="pager">
                <li class="previous">
                    <a href="" ng-if="argumentation.id != argumentation.main" ng-click="get_argumentation('argument', argumentation.argument_id, 2, 0)">&larr; Zurück </a>
                </li>
            </ul>
        </nav>

        <h1 class="display-3">
            <input type="text" class="form-control" required
                   name="argumentation_title" ng-model="argumentation.title">
            <p class="help-block" ng-messages="form.argumentation_title.$error">
                <span ng-message="required"></span>
            </p>
            {{ argumentation.title }}</h1>

            <textarea type="text" class="form-control" rows="9" required
                name="argumentation_description" ng-model="argumentation.description"></textarea>
             <p class="help-block" ng-messages="form.argumentation_description.$error">
              <span ng-message="required"></span>
              </p>
        <div class="lead text-justify white-space-pre-line">
            {{ argumentation.description }}
        </div>
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">Arguments</h3>
                        </div>


                        <div class="list-group">
                            <div ng-repeat="argument in argumentation.arguments">
                                <a class="list-group-item" ng-click="getcontent(argument)" ng-class="{'higha': argument == argumentcontent} ">
                                    <h4 class="list-group-item-heading">
                                        <textarea type="text" class="form-control" rows="3" required
                                                  name="argument_title" ng-model="argument.title" ng-if="argument == argumentcontent"></textarea>
                                        <p class="help-block" ng-messages="form.argument_title.$error">
                                            <span ng-message="required"></span>
                                        </p>
                                        {{ argument.title }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-justify">
                            <h3 class="panel-title">{{ argumentcontent.title }}</h3>
                        </div>
                        <div class="panel-body text-justify">
                            {{ argumentcontent.description }}
                            <br>
                            <br>

                            <button class="btn btn-small btn-primary"
                                    ng-click="get_argumentation('argumentation',argumentcontent.argumentation.id, 4, 0)"
                                    ng-if="argumentcontent.argumentation">
                                Show full argument
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <hr class="my-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <br>

</div>

