body { padding-top: 50px; }

.bg-pink{
    background-color:pink;
}

.waiting{
    margin-top: 100px;
}

.argumentlist{
    padding: 5px;
    margin: 5px;
    background-color: black;
}

.higha{
    background-color : #7e8180 !important;
}

.bg-lightergray{
    background-color : #6b7283 !important;
}

.highlightedText {
    background: #e5eaed;
    color: orange;

}

.big-input{width:100%}

/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-wrap;
}
div.white-space-pre-line {
    white-space: pre-line;
}

