body { padding-top: 50px; }

.bg-pink{
    background-color:pink;
}

.waiting{
    margin-top: 100px;
}

.argumentlist{
    padding: 5px;
    margin: 5px;
    background-color: black;
}

.higha{
    background-color : #7e8180 !important;
}

.bg-lightergray{
    background-color : #6b7283 !important;
}

.bg-standard{
    background-color: #2b3e50 !important;
}

.highlightedText {
    background: #e5eaed;
    color: orange;

}

.big-input{width:100%}

/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-wrap;
}
div.white-space-pre-line {
    white-space: pre-line;
}



.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }



