.box {

}
.to-right {
    transform: translate(200%, 0%);
}

.to-left{
    transform: translate(0%, 0%);
}

.move {
    transition: all 2s ease-in-out;
}


.animate-if {

    padding:20px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}



